<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>II</string>
	<key>artistName</key>
	<string>Moderat</string>
	<key>coverURL</key>
	<string>http://img2-ak.lst.fm/i/u/300x300/73d59ac1474c4eef8de77a6c28b09298.png</string>
	<key>currentPosition</key>
	<string>186.373001098633</string>
	<key>songDuration</key>
	<string>262.839996337891</string>
	<key>songName</key>
	<string>Bad Kingdom</string>
	<key>songRating</key>
	<string>☆☆☆☆☆</string>
</dict>
</plist>
