<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Grow</string>
	<key>artistName</key>
	<string>Chon</string>
	<key>coverURL</key>
	<string>http://img2-ak.lst.fm/i/u/300x300/210274839549c299230c3e872c6e33df.png</string>
	<key>currentPosition</key>
	<string>43000</string>
	<key>songDuration</key>
	<string>182750</string>
	<key>songName</key>
	<string>Suda</string>
	<key>songRating</key>
	<string>★★☆☆☆</string>
</dict>
</plist>
