<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Clawfinger</string>
	<key>artistName</key>
	<string>Clawfinger</string>
	<key>coverURL</key>
	<string>http://img2-ak.lst.fm/i/u/300x300/6288a8b8d9834e3ece1cfb6d82416cee.png</string>
	<key>currentPosition</key>
	<string>0.811999976635</string>
	<key>songDuration</key>
	<string>245.628997802734</string>
	<key>songName</key>
	<string>Two Sides</string>
	<key>songRating</key>
	<string>☆☆☆☆☆</string>
</dict>
</plist>
